%h1
  Sample Knitting Contract

%p.text-right Updated March 21, 2015

.panel.panel-default
  .panel-heading
    %h2.panel-title Terms
  .panel-body
    .panel.panel-danger
      .panel-heading
        %h2.panel-title This section is considered an overview. Please read every section prior to signing! Questions should be emailed directly to Liz.

    %p
      %mark #{designer}
      will provide yarn and a draft of the
      %mark #{pattern}
      pattern to
      %mark #{contractor}
      shipped to their address below.

    %p
      %mark #{contractor}
      agrees to complete a sample for the
      %mark #{pattern}
      pattern and return the sample to
      %mark #{designer}
      at her below address by
      %mark #{date}.

    %p
      %strong Errors
    %p
      If
      %mark #{contractor}
      finds any errors in the pattern that do not allow them to reach a logical decision about the way in which to proceed, they will contact
      %mark #{designer}
      for clarification prior to proceeding.

    %p
      If
      %mark #{designer}
      takes more than 48 hours to reply to a request for clarification, the deadline for completion will be extended 24 hours for each day's delay (ex: replies with clarification 72 hours later, deadline is extended 3 days).

    %p
      %strong Failing to Meet Deadline
    %p
      If the deadline is not met,
      %mark #{contractor}
      will be responsible for reimbursing
      %mark #{designer}
      the cost of materials and shipping amounting to approximately
      %mark #{cost}.
    %p
      %em See "Return of Completed Items" for additional information about deadline extensions.

.panel.panel-default
  .panel-heading
    %h2.panel-title Materials
  .panel-body
    %p
      A digital copy of
      %mark #{pattern}
      will be provided to
      %mark #{contractor}
      upon acknowledgement of this agreement; no printed copy will be provided with the materials. 

    %p 
      %mark #{contractor}
      must knit the sample with the yarn provided by
      %mark #{designer}.

    %p
      %strong Remaining Materials
    %p
      %mark #{contractor}
      may keep the remaining yarn on the condition they communicates to
      %mark #{designer}
      how much yarn remains at the completion of the object.


.panel.panel-default
  .panel-heading
    %h2.panel-title Return of Completed Items
  .panel-body
    %p 
      %mark #{contractor}
      agrees to use Priority or First Class USPS shipping along with a delivery confirmation number to return the completed item by
      %mark #{date}.   

    %p
      If the deadline is not met,
      %mark #{contractor}
      will be responsible for reimbursing
      %mark #{designer}
      the cost of materials and shipping amounting to approximately
      %mark #{cost}.
   
    %p
      %strong Sample Completion
    %p A finished sample is considered complete if it:
    %ul
      %li is knit to pattern specifications
      %li does not deviate from pattern instructions in any major ways
      %li is knit in the size requested
      %li is blocked and finished, with all ends woven in

    %p
      %strong Deadline Extensions
    %p
      Deadline extensions may be requested by
      %mark #{contractor}
      up to two weeks prior to original deadline. Deadline extensions are provided at
      %mark #{designer}'s
      discretion.

    %p
      %strong Denial of Deadline Extension
    %p
      In the exceedingly rare event that
      %mark #{contractor}
      requests a deadline extension that
      %mark #{designer}
      cannot accommodate, 
      %mark #{contractor}
      will return unfinished items immediately to
      %mark #{designer}.
      Payment will be sent to
      %mark #{contractor}
      based on the portion of work completed, less a 10% penalty fee of the total.

.panel.panel-default
  .panel-heading
    %h2.panel-title Confidentiality Agreement
  .panel-body
    %p
      I,
      %mark #{designer}
      will provide
      %mark #{contractor}
      a rough draft of the pattern for the purpose of sample knitting.

    %p
      I,
      %mark #{contractor}
      understand that the pattern has not been released to the public yet and is in its rough form. I understand that I am not to distribute or sell this pattern in any form.
      %em This pattern is to be printed for my personal knitting use only.
      All written parts and pictures included in this pattern will be kept strictly confidential. I will use this pattern only to knit up a sample for
      %mark #{designer}.
      I will not distribute this pattern or its photos in any way to anyone at any time. I will not share photographs of the sample in progress or upon completion until after publication, or until granted permission by
      %mark #{designer},
      whichever comes first. 

.panel.panel-default
  .panel-heading
    %h2.panel-title Compensation
  .panel-body
    %p
      %mark #{designer}
      agrees to pay
      %mark #{contractor}
      in the form of a Paypal transfer to
      %mark #{contractor}’s
      account.

    %p
      %strong Rate
    %p
      %mark #{contractor}
      will be paid at a rate of
      %mark
        %strong $#{per_yard} per yard
      knit, plus an additional $5 to reimburse for shipping charges. 

    %p
      %em Estimated Payment
    %p The estimated payment for this project is:

    %table.table
      %thead
        %tr
          %th Rate
          %th Yardage
          %th Shipping
          %th Total Payment
      %tbody
        %tr
          %td $#{per_yard}/yard
          %td #{yardage}
          %td $5
          %td $#{(yardage * per_yard + 5).round(0)}

    %p This is an estimate and may not reflect actual payment. Final amount may increase or decrease, depending on the project.
    %p
      %em Total payment estimate is rounded to eliminate decimals. You will be paid the full dollar (and cents) amount.


    %p
      %strong Payment Deadlines
    %p
      Payment will be sent upon receipt of completed sample.
      %mark #{designer}
      must pay
      %mark #{contractor}
      within 3 business days after receiving the sample.

    %p
      %strong Late Payment Penalties
    %p
      %mark #{designer}
      will pay a penalty fee of 10% of initial compensation (less shipping) per day or $1 per day (whichever is less) until
      %mark #{contractor}
      is paid. 

    %p
      %strong Payment Denial
    %p If the sample is:
    %ol
      %li returned damaged
      %li
        not knit to pattern specifications to the point where it is unsuable or unrecognizable
        %ul
          %li
            %em
              This is not intended to be punitive and will only apply in extreme cases (ex: did not work chart provided at all, knit something completely different than requested - not a conclusive list). Small adjustments (ex: used a different bind off - not a conclusive list) are fine. Any significant changes, concerns, or courses or action upon finding an error should be addressed with
              %mark #{designer}
              prior to knitting.
    %p
      %mark #{contractor}
      will not be paid any portion of the agreed upon fee.

.panel.panel-default
  .panel-heading
    %h2.panel-title Addresses
  .panel-body
    %p
      Mailing address of
      %mark #{designer}
      must be provided upon receipt of signed contract.
    %p
      Mailing address of
      %mark #{contractor}
      must be provided when the signed contract is returned.

.panel.panel-default
  .panel-heading
    %h2.panel-title Signatures
  .panel-body
    %p
      I,
      %mark #{designer}
      approve and authorize the above plan with
      %mark #{contractor}.
      Electronic delivery of this document from my email to
      %mark #{contractor}
      serves as my signature and agreement to the contract.  

    %p
      I,
      %mark #{contractor}
      confirm my agreement to the above terms by submitting this form and providing my address.
      %strong The submission of this form serves as my signature and agreement to the contract.

.panel.panel-default
  .panel-heading
    %h2.panel-title Sign and Submit
  .panel-body
    %form
      .form-group
        %label{ for: "legalName" }
          Legal name
        %p.help-block
          For mail only
        %input{ type: "text", required: true, class: "form-control", id: "legalName", placeholder: "Jane Donut" }
      .form-group
        %label{ for: "streetAddress" }
          Street address:
        %input{ type: "text", required: true, class: "form-control", id: "streetAddress", placeholder: "123 Main St." }
      .form-group
        %label{ for: "address2" }
          Apartment or Box number:
        %p.help-block
          Optional
        %input{ type: "text", required: false, class: "form-control", id: "address2", placeholder: "Apt 2" }
      .form-group
        %label{ for: "city" }
          City
        %input{ type: "text", required: true, class: "form-control", id: "city", placeholder: "Portland" }
      .form-group
        %label{ for: "state" }
          State Abbreviation
        %input{ type: "text", required: true, class: "form-control", id: "state", placeholder: "OR" }
      .form-group
        %label{ for: "zip" }
          Zip code
        %input{ type: "number", required: true, class: "form-control", id: "zip", placeholder: "97209" }
      .form-group
        %label{ for: "email" }
          Zip code
        %input{ type: "email", required: true, class: "form-control", id: "email", placeholder: "my@email.com" }
      %button.btn.btn-success{ type: "submit" } Sign and submit